ul {
    list-style-type: none; /* Supprimer les points devant les éléments de la liste */
  }
  
#map { 
        width: 100%;
        height: 100%;
}

body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #9c9700; 
        color: white; /* Texte en blanc pour visibilité */
        }
  
/* Titre */
.title {
    font-size: 2rem;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
    }

/* Conteneur de la carte */
.map-container {
        flex:1;
        width: 90%;
        max-width: 1000px; /* Limite la taille maximum */
        margin-top: 10px;
        overflow: hidden;
        height: calc(100vh - 100px);
        }

/* Conteneur principal pour la carte et l'inventaire */
    .app-container {
            display: flex;
            justify-content: center;
            align-items: stretch; /* Aligne les éléments à la même hauteur */
            width: 90%;
            height: calc(100vh - 100px);

        }

/* Styles pour la section de l’inventaire */
    .inventory {
            width: 20%; /* L'inventaire prendra 20% de la largeur de la fenêtre */
            max-width: 250px; /* Limite de largeur maximale */
            min-width: 100px; /* Limite de largeur minimale */
            background-color: #9c9700;
            margin-top: 10px;
            height: 100%; /* Pour correspondre à la hauteur de la carte */
            display: flex;
            flex-direction: column;
            align-items: center; /* Centre les éléments dans l'inventaire */
            overflow-y: auto;
            padding: 10px;
        }

    .inventory-image {
        max-width: 90%; /* L'image prendra 90% de la largeur de l'inventaire */
        max-height: 90%; /* Limite également la hauteur */
        height: auto; /* Maintient les proportions de l'image */
        object-fit: contain;
        margin: 10px;
    }

    .chrono-container {
        margin-top: 20px;
        text-align: center;
        font-size: 1.5em;
    }